@import url("login.css"); 

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Cerebri Sans,sans-serif" !important;
  color: #092439;
}

a {
  color: #092439;
  text-decoration: none;
}

a:hover {
  color: rgba(9,36,57,.75);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cerebri Sans,sans-serif" !important;
}


@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-light.eot");
  src: local("Cerebri-sans Light"), url("../fonts/cerebrisans-light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-regular.eot");
  src: local("Cerebri-sans Regular"), url("../fonts/cerebrisans-regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-medium.eot");
  src: local("Cerebri-sans Medium"), url("../fonts/cerebrisans-medium.woff") format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-semibold.eot");
  src: local("Cerebri-sans Semibold"), url("../fonts/cerebrisans-semibold.woff") format("woff");
  font-weight: 600; }

@font-face {
  font-family: "Cerebri Sans,sans-serif";
  src: url("../fonts/cerebrisans-bold.eot");
  src: local("Cerebri-sans Bold"), url("../fonts/cerebrisans-bold.woff") format("woff");
  font-weight: 700; }

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 10px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #2169FF;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #092439;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #092439;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #2169FF;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 80px;
  margin-right: 0px;
}

.header .logo span{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #092439;
  font-family: "Cerebri Sans,sans-serif" !important;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Cerebri Sans,sans-serif" !important;
  font-size: 16px;
  color: #092439;
  white-space: nowrap;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  color: rgba(33,105,255,.8);
}

.navbar .btnNav {
  background: #092439;;
  padding: 8px 30px;
  margin-left: 30px;
  transition: 0.5s;
  border-radius: 30px;
  color: #fff;
  justify-content: center;
}

.navbar .btnNav:hover {
  color: #fff;
  /* background: #5969f3; */
  transform: translateY(-7px);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: rgba(1, 22, 61, 0.9);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #092439;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .fa-window-close{
  margin-top: 10px;
  color:white
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10px;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 18px;
  color: #092439;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: rgba(1, 22, 61, 0.9);
}

.navbar-mobile .btnNav {
  margin: 5px 15px;
  width: 130px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #2169FF;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/* @media (max-width: 576px) {
.navbar-mobile .btnNav {
  width: 30%;
} */

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  overflow:hidden
}
/* .hero::before{
  content:"";
  width:500px;
  height:500px;
  transform: translateX(250px) translateY(-280px);
  background-color: rgb(232,239,255);
  border-radius: 50%;
  top:0;
  right: 0;
  position: absolute;
} */

.hero::after{
  content:"";
  width:500px;
  height:500px;
  transform: translateX(-170px) translateY(0px);
  background-color: rgb(232,239,255);
  border-radius: 50%;
  bottom:0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #092439;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}
.hero p{
  font-weight: 500;
}

.hero .btn {
  line-height: 0;
  padding: 22px 30px;
  border-radius: 30px;
  transition: 0.5s;
}

.hero .btn-login{
  color: #fff;
  background: #2169FF;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
.hero .btn-signup{
  color: #2169FF;
  background: #fff;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  margin-left:1rem;
  border: 1px solid #2169FF;
}

.hero .btn span {
  font-family: "Cerebri Sans,sans-serif" !important;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}

.hero .btn i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn:hover {
  transform: translateY(-7px);
}

.hero .hero-img {
  padding-left: 20px;
}
.hero .hero-img .img-fly-1{
  z-index:1;
  top:70px;
  left:75px;;
  height: 90px;
  animation: up-down 5s ease-in-out infinite alternate;
}
.hero .hero-img .img-fly-2{
  z-index:1;
  bottom:50px;
  right:30px;;
  height: 90px;
  animation: up-down 5.5s ease-in-out infinite alternate;
}
.hero .hero-img .img-fly-3{
  z-index:1;
  top:10px;
  right:80px;;
  height: 90px;
  animation: up-down 4.5s ease-in-out infinite alternate;
}
.hero .hero-img .img-fluid{
  animation: up-down 6s ease-in-out infinite alternate
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
    text-align: center;
  }
  .hero .hero-img {
    /* margin-top: 80px; */
    display: none;
  }

}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# List App
--------------------------------------------------------------*/
.list-app .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.35s;
  height: 100%;
}

.list-app .box img {
  padding:0px 35px;
  transition: 0.5s;
  transform: scale(1);
}

.list-app .box h3 {
  font-size: 24px;
  color: #092439;
  font-weight: 700;
  margin-bottom: 18px;
}

.list-app .box:hover {
  box-shadow: 0px 3px 30px rgba(1, 41, 112, 0.08);
  /* box-shadow:  0 3px 20px rgba(0,0,0,0.09); */
}

.list-app .box:hover img {
  transform: scale(.95);

}

.list-app  a.btn{
  padding: 0.5rem 1rem;
  font-size: 14px;
}

@media (max-width: 576px) {
  .list-app .box img {
    width: 75%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Alur
--------------------------------------------------------------*/
#alur{
  background-color: #2169FF;
}
#alur header p{
  color: #fff;
}
#alur .alur-body{
  transition: 0.3s;
}
#alur .alur-body:hover {
  transform: scale(1.05);
}
#alur .alur-box .alur-body p {
  margin:10px 0 50px;
  color:#fff
  /* font-size: 0.8rem; */
}
#alur .alur-box .alur-body p a{
  font-weight: 700;
  color: #fff;
}
#alur .alur-box .alur-body .alur-nomor h3{
  color: rgb(252,173,176);
  text-shadow: 2px 2px 2px rgb(232,142,145);
  font-weight: 700;
  text-align: center;
  border-radius:20px ;
  height: auto;
  width: 25%;
  font-size: 2.5rem;
}
#alur .alur-box .alur-body i{
  position: relative;
  opacity: 0.8;
  color:#fff;
  margin-top: -100px;
  /* filter: drop-shadow(2px 2px 2px rgb(232,142,145)); */
}


/*--------------------------------------------------------------
# regulations
--------------------------------------------------------------*/
.regulations .accordion-collapse {
  border: 0;
}

.regulations .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 15px;
  color: #444444;
  text-align: left;
}

.regulations .accordion-button:focus {
  box-shadow: none;
}

.regulations .accordion-button:not(.collapsed) {
  background: none;
  color: #2169FF;
  border-bottom: 0;
}

.regulations .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
  font-size: 14px;
}

.regulations .accordion-body i{
  padding-right: 10px;
}

.regulations .accordion-body a{
  font-weight: 700;
}

.regulations .img-fluid{
  height: 85%;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #2169FF;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #092439;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px) {
  .contact iframe{
    height: 300px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-top {
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #092439;
  font-family: "Cerebri Sans,sans-serif" !important;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Cerebri Sans,sans-serif" !important;
}

.footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2169FF;
  color: #fff;
  opacity: .7;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  opacity: 1;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #092439;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #092439;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: #2169FF;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #092439;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #092439;
}
